<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--Choices for delay are 500 or 1000 (milliseconds)-->
    <add key="Thread1Delay" value="1000"/>
    <add key="Thread2Delay" value="500"/>
  </appSettings>

</configuration>