<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--Thread delays are 500 or 1000 (milliseconds)-->
    <add key="Thread1Delay" value="1000"/>
    <add key="Thread2Delay" value="500"/>
    <add key="connectionstring" value="Server=CASEYWIN10AGAIN\AE_CODE_CHALLANG;Database=ae_code_challange;User Id=sa; Password=alsoenergy;"/>
    <add key="localhostbaseURL" value="http://localhost:58523/"/>
  </appSettings>

</configuration>